<!DOCTYPE html>
<html>
  <head>
    <title>2048</title>
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='script.js')}}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>


  </head>
  <body>
    <div class="box">
    <h1>2048</h1>
    <h2>By Grey</h2>
    <hr>
    <h2>Highest Score: <span id="high-score">{{highScore}}</span></h2>
    <h2>Your Score: <span id="score">0</span></h2>
    <div class="input">
        <form action='/' method = "POST">
          <input type="text" name="text" value = ""placeholder="4-letter name">
          <input id="button" class="button" type="submit" name="btn" value="Submit">
        </form>
      </div>
        <table>
              <th>Name</th><th>Score</th>
            </tr>
          </th>
          {% for item in items %}
            <tr><td>{{item[0]}}</td><td>{{item[1]}}</td></tr>
          {% endfor %}
        </table>
        <div id="board">
        </div>
      </div>
  </body>
</html>
